@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');


section{
    text-align: center;
    padding: 5%;
    padding-top: 1%;
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #E0F5EF;
    color: #2C3E50;
    font-size: 2rem;
}

.contact-button {
    border-radius: 8px;
    padding: 2%;
    height: 10vh;
    background-color: #2C3E50;
    color: #E0F5EF;
    text-decoration: none;
    font-weight: 500;
    width: 30px !important;
    font-size: 2rem;
}

h2 {
    padding-bottom: 2%;
    font-weight: 700;
}