@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');


section {
    text-align: center;
    padding: 5%;
    padding-top: 1%;
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #E0F5EF;
    color: #2C3E50;
    font-size: 1rem;
    font-size: clamp(1rem, 1rem + 1vw, 2rem);
}

.contact-button {
    border-radius: 8px;
    background-color: #2C3E50;
    color: #E0F5EF;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 1.7rem);
    padding: 2%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h2 {
    padding-bottom: 1.5%;
    font-weight: 700;
}