h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0 !important;

}

.green-line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background-color: #2C3E50;
    margin: 0 !important;
    padding: 0;
    margin-bottom: 0 !important;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.achievement-row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.left-align .achievement-row {
    flex-direction: row-reverse;
}

.right-align .achievement-row {
    flex-direction: row;
}

.achievement-row app-achievement,
.achievement-row app-achievement-content {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: stretch;
    line-height: 1.5;

}

.achievement-row app-achievement {
    width: 50%
}

#header,
.content {
    padding: 2rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-size: 0.3rem;
    font-size: clamp(0.3rem, 0.16rem + 0.7vw, 1rem);
}

app-achievement-content div p {
    margin: 0;
    padding: auto;
    line-height: 1.5;

}

app-achievement-content div {
    background-color: #2C3E50;
    color: #E0F5EF;
    padding: 4%;
    line-height: 1.2;
    border-radius: 8px;
    align-items: center;
    margin: auto;
    line-height: 1.5;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);

}

app-achievement-content div a {
    color: #E0F5EF;
}

app-achievement-content div:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#code {
    margin: 0 !important;
    text-align: center;
    align-items: center;
    background-color: #8fb3af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.15rem 0;
    line-height: 1.5;

}

#code a {
    color: #2C3E50;
    ;
}


#awards {
    align-items: center;
    margin: auto;
    line-height: 1.5;

}

a:hover {
    color: #8fb3af !important;

}

#circle {
    text-align: center;
    z-index: 1000;
    line-height: 1.5;
    height: 13rem;
    width: 13rem;
    margin: auto;
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 0.58rem + 0.6000000000000001vw, 1.3rem);
    align-items: center;
}

.big-circle {
    aspect-ratio: 1 / 1;
    text-align: center;
}

.small-circle {
    aspect-ratio: 1 / 1;
    text-align: center;
}

.circle-content {
    padding: 10%;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {

    app-content-circle {
        width: 10rem !important;
        height: 10rem !important;
    }

    .circle-content {
        font-size: 0.6rem;
        font-size: clamp(0.6rem, 0.5rem + 0.5vw, 1.2rem);
    }

    #circle {
        aspect-ratio: auto;
    }

    #code {
        align-items: center;
    }

}