h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0;
    margin: 0 !important;
}

.green-line {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #2C3E50;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.achievement-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.left-align .achievement-row {
  flex-direction: row-reverse;
}

.right-align .achievement-row {
  flex-direction: row;
}

.achievement-row app-achievement,
.achievement-row app-achievement-content {
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: stretch;
}

.achievement-row app-achievement {
  width: 50%
}

#header,
.content {
  padding: 2rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
